* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.5;
    color: black;
}

a {
    color: rgb(24, 23, 23);
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}


/*Nav*/

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}

.main-nav .logo {
    width: 60px;
    margin-top: 10px;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 0 10px;
}

.main-nav ul li a {
    padding-bottom: 2px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid rgb(15, 14, 14);
}

.main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
}

.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: black;
    color: white;
    font-size: 15px;
}

.btn:hover {
    opacity: 0.7;
}


/*showcase*/

.showcase {
    width: 100%;
    height: 400px;
    background: url("./img1.jpg") no-repeat center center/cover;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: white;
}

.showcase h2,
.showcase p {
    margin-bottom: 20px;
}


/* cards*/

.home-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
}

.home-card img {
    width: 100%;
    height: 200px;
}

.home-card h3 {
    margin-bottom: 5px;
}

.home-card a {
    display: inline-block;
    padding-top: 10px;
    color: rgb(55, 208, 228);
    text-transform: uppercase;
    font-weight: bold;
}

.home-card a:hover i {
    margin-left: 10px;
}


/*box*/

.xbox {
    color: white;
    width: 100%;
    height: 350px;
    background: url("./img8.jpg") no-repeat center center/cover;
    margin-bottom: 20px;
}

.xbox .content {
    width: 40%;
    padding: 50px 0 0 30px;
}

.xbox p,
.carbon p {
    margin: 10px 0 20px;
}

.xbox a {
    background-color: rgb(143, 23, 23);
}

.xbox a:hover i {
    opacity: 0.7;
}


/*Carbon*/

.carbon {
    width: 100%;
    height: 350px;
    background: url("./img13.jpg")no-repeat center center/cover;
    color: white;
}

.carbon .content {
    width: 55%;
    padding: 100px 0 0 30px;
}

.follow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0 30px;
}

.follow * {
    margin-right: 10px;
}

.follow img {
    width: 40px;
    height: 40px;
}


/*links*/

.links {
    background: rgb(221, 205, 193);
    color: rgb(53, 52, 52);
    font-size: 12px;
    padding: 35px 0;
}

.links-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.links li {
    line-height: 2.8;
}


/*footer*/

.footer {
    background: rgb(207, 182, 172);
    color: rgb(54, 53, 53);
    font-size: 12px;
    padding: 20px 0;
}

.footer-inner {
    max-width: 1100;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

@media(max-width:700px) {
    .menu-btn {
        display: block;
    }
    .menu-btn:hover {
        opacity: 0.5;
    }
    .main-nav ul.right-menu {
        margin-right: 50px;
    }
    .main-nav ul.main-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(204, 204, 204);
        width: 50%;
        height: 100%;
        border: snow 2px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }
    .main-nav ul.main-menu li {
        padding: 10px;
        border-bottom: snow solid 1px;
        font-size: 15px;
    }
    .main-nav ul.main-menu li:last-child {
        border-bottom: 0;
    }
    .main-nav ul.main-menu.show {
        transform: translateX(-20px);
    }
    .home-card {
        grid-template-columns: repeat(2, 1fr);
    }
}


/*@media(max-width:500px) {
    .home-card {
        grid-template-columns: 1fr;
    }
    .xbox .content p {
        display: none;
    }
    .xbox .content h2 {
        margin-bottom: 20px;
    }
    .carbon .content {
        width: 85%;
    }
    .carbon .content p {
        display: none;
    }
    .carbon .content h2 {
        margin-bottom: 20px;
    }
    .links .links-inner {
        grid-template-columns: 1fr 1fr;
    }
}*/